body {
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
}

h1.brand {
	font-size: 0.9em;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Space Mono', monospace;
	color: ghostwhite;
	text-align: justify;
}

h1.brand small {
	font-size: 0.7em;
}

.slider {
	margin-right: 15px;
}

.btn-planet {
	display: inline;
	margin: 2% 1% 0 1%;
	cursor: pointer;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.btn-menu {
	margin-top: 2%;
}

.btn-default {
	background-color: darkred;
	border-color: black;
}

.slider-handle {
	background-color: darkred;
	background-image: -webkit-linear-gradient(top, red 0%, darkred 100%);
	background-image: -o-linear-gradient(top, red 0%, darkred 100%);
	background-image: linear-gradient(to bottom, red 0%, darkred 100%);
	cursor: pointer;
}

.slider.slider-horizontal {
	margin-top: 3%;
	width: 90%;
}

.navbar-default {
	background-color: black;
}

@media(max-width:767px) {
	#system-article {
		left: 1%;
		top: 1%;
		width: 98%;
		position: absolute;
		display: none;
	}
	#monitor-article {
		right: 10%;
		top: 1%;
		width: 80%;
		position: absolute;
		display: none;
	}
}

@media(min-width:768px) {
	#system-article {
		left: 1%;
		top: 1%;
		width: 98%;
		position: absolute;
		display: none;
	}
	#monitor-article {
		right: 5%;
		top: 1%;
		width: 40%;
		position: absolute;
		display: none;
	}
}

@media(min-width:992px) {
	#system-article {
		left: 1%;
		top: 1%;
		width: 50%;
		position: absolute;
	}
	#monitor-article {
		right: 1%;
		top: 1%;
		width: 30%;
		position: absolute;
		display: block;
	}
}

@media(min-width:1200px) {
	#system-article {
		left: 1%;
		top: 1%;
		width: 40%;
		position: absolute;
	}
	#monitor-article {
		right: 1%;
		top: 1%;
		width: 20%;
		position: absolute;
		display: block;
	}
}

article {
	z-index: 1000;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px;
	cursor: move;
	border-radius: 10px;
	border: 3px solid black;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
	background-color: rgba(255, 50, 50, 0.3);
}

.blog-link {
	font-family: 'Reenie Beanie', cursive;
	font-size: 3em;
	color: darkred;
}

a:focus, a:hover {
	color: red;
	text-decoration: none;
	font-weight: bold;
}